@using Riode.Models;

@{
    ViewData["Title"] = "Index";
}
@model List<Slider>
<a asp-area="Manage" asp-controller="Slider" asp-action="Create" class="btn btn-success">Create</a>
<table class="table table-dark mt-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Offer</th>
            <th>ButtonText</th>
            <th>Image</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var slider in Model)
        {
            <tr>
                <td>@slider.Id</td>
                <td>@slider.Title</td>
                <td>@slider.Description</td>
                <td><input type="checkbox" @slider.IsRight /></td>
                <td>@slider.ButtonText</td>
                <td>
                    @if (slider.ImageName.StartsWith("http"))
                    {
                        <img src="@slider.ImageName" width="50" />
                    }
                    else
                    {
                        <img src="~/assets/images/@slider.ImageName" width="50" />
                    }
                </td>
                <td><a asp-area="Manage" asp-controller="Slider" asp-action="Update" asp-route-id="@slider.Id" class="btn btn-warning">Update</a></td>
                <td><a asp-area="Manage" asp-controller="Slider" asp-action="Delete" asp-route-id="@slider.Id" class="btn btn-danger btn-delete">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

